*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background-color:#eee;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:14px;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content:center;

    position:relative;
    top:50%;
    left:50%;
    transform:translateY(-50%);
    transform:translateX(-50%);

    min-width:350px;
    max-width:750px;
    padding-bottom: 2em;
}

.section{
    margin:1em;
    padding:1em;
    background-color:white;
}

.section > h2{
    font-size:16px;
}

.rounded{
    border-radius:10px;
}

.sample-1{
    border:5px solid transparent;

    animation-name:sample-1;
    animation-duration:3s;
    animation-iteration-count:infinite;
}

.sample-2{
    border:5px solid transparent;

    animation-name:sample-2;
    animation-duration:3s;
    animation-iteration-count:infinite;
}

@keyframes sample-2{
    0%{border:5px solid #006989;}
    50%{border:5px double #006989;}
    100%{border:5px solid #006989;}
}


@keyframes sample-1{
    0%{border-color:#eaebed}
    50%{border-color:#006989}
    100%{border-color:#eaebed}
}

/* Using border sides */
.sample-3{
    border:5px solid transparent;

    animation-name:sample-3;
    animation-duration:2.5s;
    animation-fill-mode:none;
    animation-iteration-count:infinite;
}

@keyframes sample-3{
    15%{border-top-color: #006989;}
    40%{border-right-color:#006989;}
    60%{border-bottom-color:#006989;}
    75%{border-left-color:#006989;}
}

/* Using border images */
.sample-4{
    border:2px solid transparent;
    border-image-slice:1;
    border-image-repeat:round;

    animation-name:sample-4;
    animation-duration:.5s;
    animation-iteration-count:infinite;
}

@keyframes sample-4{
    0%{border-image-source:url(./res/frame-1.png);}
    25%{border-image-source:url(./res/frame-2.png);}
    50%{border-image-source:url(./res/frame-3.png);}
    75%{border-image-source:url(./res/frame-4.png);}
    100%{border-image-source:url(./res/frame-1.png);}
}

/* Using border images */
.sample-5{
    border:5px solid transparent;
    background-image: linear-gradient( white, white), repeating-linear-gradient(45deg, white 0px 10px, #006989 10px 20px);
    background-origin: border-box;
    background-clip: padding-box, border-box;

    animation-name:sample-5;
    animation-duration:.6s;
    animation-iteration-count:infinite;
}

@keyframes sample-5{
    0%{background-image: linear-gradient( white, white), repeating-linear-gradient(45deg, white 0px 10px, #006989 10px 20px);}
    33.3%{background-image: linear-gradient( white, white), repeating-linear-gradient(45deg, white 5px 15px,#006989 15px 25px);}
    66.6%{background-image: linear-gradient( white, white), repeating-linear-gradient(45deg, white 10px 20px, #006989 20px 30px);}
    100%{background-image: linear-gradient( white, white), repeating-linear-gradient(45deg, white 0px 10px, #006989 10px 20px);}
}

.sample-6{
    background-image:url(./clouds.svg);
    background-repeat:repeat-x;
    background-position:center top; 
    background-size:contain;

    padding-top:80px;

    /* Outline is better suited with SVG BG than border */
    outline:5px solid #006980;
    outline-offset:-1px;
}

.sample-7{
    /* position:relative; */
    background-image:linear-gradient(30deg, #dde7ee, #396b89, #81a5ba, #323456, #dde7ee),
    linear-gradient(#dde7ee, #396b89);
    background-repeat:repeat-x;
    background-size:100% 100%; 
    border:1px solid #006980;

    animation-name:div-animation;
    animation-duration:10s;
    animation-iteration-count:infinite;

}

@keyframes div-animation{
    0%{background-size:100% 250%;}
    50%{background-size:300% 150%;}
    100%{background-size:100% 250%;}
}

.sample-7 > .inner{
    position: relative;
    background-color:white;
    border:1px solid #006980;

    padding:1em;
}

.sample-8{
    border:1px solid transparent;
    outline: 2px solid #006989;
    outline-offset:1px;

    animation-name:outline-animation;
    animation-duration:1.2s;
    animation-iteration-count:infinite;
    animation-fill-mode:forwards;
}

@keyframes outline-animation{
    0%{outline-style:dotted;
        outline-offset:1px;}
    50%{outline-style:dashed;
        outline-offset:7px;
        border-color:#006989;}
    100%{outline-style:dotted;
        outline-offset:1px;}
}

.sample-9{
    /* border:1px solid #006989; */
    box-shadow: 0px 0px 10px 3px #006989;

    animation-name:shadow-animation;
    animation-duration:1.2s;
    animation-iteration-count:infinite;
}

@keyframes shadow-animation{
    0%{box-shadow:0px 0px 10px 0px #006989}
    50%{box-shadow:0px 0px 10px 4px #006989;}
    100%{box-shadow:0px 0px 10px 0px #006989}
}